@import '_variables';
 
header {
  // width: 90%;
  // margin: 90px auto 30px auto;
  padding: 1em;
  height: 14em;
  text-align: center;
  h1 {
    font-size: 1em;
    letter-spacing: 0.5em;
    color:$primary-color;
    position: relative;
    width: 10em;
    margin: 10em;
  }
  .logo {
  text-align: center;
  }
  .circle-nav {
    margin-bottom: 40px;
    li {
      margin-right: 10px; 
        i {
          width: 80px;
          height: 80px;
          border: 6px solid $primary-color;
          border-radius: 40px;
          font-size: 44px;
          line-height: 1.5;
          color: $primary-color;
        }
    }
  }
}