@media screen and (min-width: 510px) {
  .sushi-item {
    .sushi-image {
      width:41%;
      float:left;
      // margin: 0 3% 2em 3%;
    }
  .tab-nav  {
    width: 100%;
  }
  .tab-nav li {
    width: 20%;
  }
    h4 {
      text-align: left;
      font-size: 1em;
      color: $primary-color;
      margin: 0;
      float: left;
    }
    p {
      text-align: center;
    }
  }
}

@media screen and (min-width: 840px) {
  header {
    height: 9em;
    h1 {
      text-align: left;
      width: 50%;
      margin: 2em 0 1em 5%;
      // margin: 2em 0 1em 5%;
    }
    .question-icon {
      bottom: 12px;
      left: 162px;
    }
    h2 {
      margin: 0 0 0 5%;
      width: 50%;
      display: inline-block;
      float: left;
      text-align: left;
    }
    .circle-nav {
      margin: 0 5% 0 0;
      float: right;
    }
    header::after {
      content: "";
      clear: both;
      display: block;
    }
  }
  .sushi-item {
    float: left;
    .sushi-image, h4, p {
      float: none;
      width:100%;
      margin: 1em 0 0 0;
    }
    .sushi-info {
      margin-top: 1em;
    }
  }
  .sushi-item::after {
    content:"";
    clear: both;
    display: block;
  }
  section {
    height: 300px;
  }
  footer {
    height: 3em;
    padding-top: 7em;
    margin: 0;
  }
}
