// .tab-nav
.tab-nav{
  width: 100%;
  overflow: hidden;
  ul {
    li {
      width: 20%;
      float: left;
      border: 1px solid black;
      a {
        i {
          
        }
      }
    }
  }
}



